absl-py
aiohttp
antlr4-python3-runtime
appdirs
argon2-cffi
async-generator
async-timeout
attrs
audioread
backcall
bleach
cachetools
certifi
cffi
chardet
click
configparser
cycler
dataclasses
decorator
defusedxml
docker-pycreds
entrypoints
fsspec
future
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-speech
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
hydra-core
hydra-torch @ git+https://github.com/pytorch/hydra-torch
idna
idna-ssl
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
levenshtein
libcst
librosa
llvmlite
Markdown
MarkupSafe
matplotlib
mistune
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numba
numpy
oauthlib
omegaconf
packaging
pandocfilters
parso
pathtools
pexpect
pickleshare
Pillow
pooch
prometheus-client
promise
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pycparser
pyDeprecate
Pygments
pyparsing
pyrsistent
python-dateutil
pytorch-lightning
PyYAML
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
resampy
rsa
scikit-learn
scipy
Send2Trash
sentry-sdk
shortuuid
six
smmap
sounddevice
SoundFile
sox
subprocess32
tensorboard
tensorboard-plugin-wit
terminado
testpath
threadpoolctl
torch
torchaudio
torchmetrics
tornado
tqdm
traitlets
typing-extensions
typing-inspect
urllib3
wandb
wcwidth
webencodings
Werkzeug
widgetsnbextension
yarl
zipp